* {
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body {
    background-image: url("../resources/backgroundpicture.jpg");
}

a {
    color: black;
}

a:link {
    color: #FFFFCC;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #FFFFCC;
    font-weight: bold;
    text-decoration: none;
}

a:active, a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

p {
    text-align: center;
    padding: 5px 0 0 0;
}

form {
    padding-left: 0;
    margin-right: 15%;
    margin-left: 30%;

}

label {
    padding: 5px;
    margin-right: 10px;
}

h2 {
    text-align: center;
}

.big-heading {
    color: #FFFFCC;
    font-size: 80px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}

.small-heading {
    color: #FFFFCC;
}

#container {
    margin: 2% 2%;
}

#header {
    text-align: center;
}

#content {
    min-height: 550px;
    margin-left: 0;
}

#content table input {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#content form input {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

#content form a {
    margin-left: 1%;
    padding: 2%;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 100%;
}

#content label {
    background-image: url("../resources/woodbutton.jpeg");
    border: 2px solid black;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#content .tag {
    display: inline-block;
    margin-left: 1%;
    padding: 5px;
    border-radius: 10%;
    border: 2px solid black;
}

#footer {
    text-align: center;
    margin-bottom: 2%;
}

/* ---------------------------------------------------------------
Table Style
------------------------------------------------------------------ */

table {
    color: black;
    font-size: 12px;
    text-shadow: 1px 1px 0 #fff;
    background-color: #FFFFCC;
    margin: 10px;
    border: #ccc 1px solid;
    border-spacing: 0;
}

table th {
    padding: 21px 25px 22px 25px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ebebeb;
}

table tr {
    text-align: center;
    padding-left: 10px;
    background-color: #FFFFCC;
}

table tr td {
    padding: 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background-color: #FFFFCC;
}

table tr:hover td {
    background-image: url("../resources/woodbutton.jpeg");
}

#finishedTasks {
    margin: 0;
}

#divFinishedTable {
    float: right;
}

#divFinishedTable tr {
    width: 200px;
}

.button {
    color: black;
    background-image: url("../resources/woodbutton.jpeg");
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 19px;
    padding: 12px 10px;
    text-decoration: none;
    border: 4px outset #AD5C33;
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 10%;
}

.button:hover {
    background-image: url("../resources/woodbutton.jpeg");
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

#divTasksTable {
    float: left;
    padding-left: 0;
}

#divFinishedTable {
    margin-top: -200px;
    padding: 0;
}

#addTaskForm {
    font-size: 18px;
}

#addTaskForm input {
    font-size: 14px;
}

#addTaskName {
    background-color: #FFFFCC;
    position: relative;
    margin-top: 30px;
    margin-left: 2%;
}

#addDate {
    background-color: #FFFFCC;
    position: relative;
    margin-left: 2%;
}

#addAlarm {
    background-color: #FFFFCC;
    position: relative;
    margin-left: 2%;
}

#addAlarmDate {
    background-color: #FFFFCC;
    position: relative;
    margin-left: 2%;
}

#addTagName {
    background-color: #FFFFCC;
    margin-left: 1%;
}

#buttonForm {
    width: 40%;
    margin-right: 0;
}

#sortSelect {
    margin-left: 10px;
}

#clock {
    position: relative;
    margin-top: 160px;
    width: 200px;
    z-index: 0;
    height: 200px;
    float: right;
    bottom: 250px;
    right: 50px;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    left: 150px;
}

#sec {
    background: url("../resources/sechand.png");
    z-index: 0;
    width: 24px;
    height: 369px;
}

#min {
    background: url("../resources/minhand.png");
    z-index: 0;
    width: 20px;
    height: 365px;
}

#hour {
    width: 25px;
    height: 228px;
    top: 70px;
    background: url("../resources/hourhand.png");
    z-index: 0;
}

/* Were going to be used to color the tasks based on tag and priority, but was not completed
#content .none {
    background-color: white;
}

#content .school {
    background-color: crimson;
}

#content .work {
    background-color: greenyellow;
}

#content .life {
    background-color: #7BAAF7;
}

.finished {
    background-color: forestgreen;
}

.critical {
    background-color: red;
}

.normal {
    background-color: gray;
}

.unimportant {
    background-color: #7BAAF7;
} */
